<form action="solve" method="get" accept-charset="UTF-8">
	<textarea name="data" rows="13" cols="30"></textarea><hr>
	<input type="radio" name="output" value="pbn"> PBN file<br>
	<input type="radio" name="output" value="calc" checked> Calculate tricks<hr>
	<input type="submit" value="Go!">
</form>