<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
    <title>{{#if title}}{{title}}{{else}}DBF DDS{{/if}}</title>
		<style>
			.bcalc-tricks{
				margin:0;
				padding:0;
				border-collapse:collapse;
			}
			.bcalc-tricks tr{
				margin:0;
				padding:0;
			}
			.bcalc-tricks tbody tr:nth-child(odd) td{
				background-color:#F2F2F2;
			}
			.bcalc-tricks td{
				margin:0;
				padding:2px 4px;
				text-align:center;
				border-width:1px;
				border-style:solid;
				border-color:#9F9F9F;
			}
			.bcalc-tricks thead:first-child td:first-child{
				border-width:0 1px 1px 0;
			}
			.bcalc-tricks-header .nt{
				font-weight:bold;
			}
			.bcalc-tricks-header .d, .bcalc-tricks-header .h{
				color:red;
			}
			.bcalc-tricks .hand-letter{
				font-weight:bold;
			}
			ol.board{
				display:block;
				position:relative;
				margin:0;
				padding:0;
				width:100%;
				max-width:800px;
				list-style:none outside none;
			}
			ol.board > li{
				display:inline-block;
				width:33%;
				background-color:#F2F2F2;
			}
			ol.board > li:nth-child(1), ol.board > li:nth-child(4){
				margin:0 33% 0 33%;
			}
			ol.board > li:nth-child(2), ol.board > li:nth-child(3){
				/*margin:5% 0;*/
			}
			ol.board > li:nth-child(2){
				margin-right:33%;
			}
			ol.board > li > ol{			
				list-style:none outside none;
				margin:0;
				padding:4px 8px;
			}
			ol.board .h-suit .suit-symbol, ol.board .d-suit .suit-symbol{
				color:red;
			}
			ol.board .suit-symbol{
				padding-right:2px;
			}
		</style>
  </head>
  <body>
    {{{@body}}}
  </body>
</html>